body {
	margin:0 auto;
	padding:0;
}

p, th {
	font-family: Arial, Sans-serif;
	font-size:14pt;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:normal;

}

/* top header */
.name p {
	text-align:left;
}

.title p {
	text-align: right;
    margin: 0;
}

#topbar {
	position:fixed;
	margin:auto;
	top:0;
	width:100%;
	height:20%;

}

.name {
	position: fixed;
    left: 2vw;
    width: 50%;
    height: 10%;

}

.title {
    position: absolute;
    top: 0;
    right: 2vw;
    padding-top: 19px;
    width: 50%;
    height: 10%;
}

/* countdown timer */
#numbers {
	width:100%;
	position:absolute;
	margin: 0 auto;
	display:block;
	bottom: 0;
}

.countdown {
	width:30%;
	margin:0 auto;
	text-align:center;
}

.hours, .minutes, .seconds {
	font-family: Arial, Sans-serif;
	font-size:16pt;
	text-transform:uppercase;
	letter-spacing:1px;
	text-align:center;
}

.hours {
    float:left;
    width:9vw;
}

.minutes {
    display: inline-block;
    margin:0 auto;
    width:9vw;
}

.seconds {
    float:right;
    width:9vw;
}

#flashingtext {
                font-family: Trebuchet MS, sans-serif;
                font-size: 9pt;
                color: silver;
            }

/* grid */

#container {
	width:100%;
	position:fixed;
	height:100%;
	top: 20%;
}

.div-table{
  display:table;         
  margin:0px auto;                     
  border-spacing:10px;/*cellspacing:poor IE support for  this*/
  z-index:-1;
  font-family: Arial, Sans-serif;
  font-size:9pt;
  font-weight:normal;
  letter-spacing:1px;

}

.div-table-row{
  display:table-row;
  width:200px;
  clear:both;
}
.div-table-col{
  margin-top:5%;
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;          
}

.audio {
	display:none;
}


