body {
	margin:0 auto;
	padding:0;
}

p, th {
	font-family: Arial, Sans-serif;
	font-size:14pt;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:normal;

}

/* top header */
.name p {
	text-align:left;
}

.title p {
	text-align: right;
    margin: 0;
}

#topbar {
	position:fixed;
	margin:auto;
	top:0;
	width:100%;
	height:10%;

}

.name {
	position: fixed;
    left: 2vw;
    width: 50%;
    height: 10%;

}

.title {
    position: absolute;
    top: 0;
    right: 2vw;
    padding-top: 19px;
    width: 50%;
    height: 10%;
}

/* countdown timer */
#numbers {
	width:100%;
	position:absolute;
	margin: 0 auto;
	display:block;
	bottom: 0;
}

.countdown {
	width:30%;
	margin:0 auto;
	text-align:center;
}

.hours, .minutes, .seconds {
	font-family: Arial, Sans-serif;
	font-size:16pt;
	text-transform:uppercase;
	letter-spacing:1px;
	text-align:center;
}

.hours {
    float:left;
    width:9vw;
}

.minutes {
    display: inline-block;
    margin:0 auto;
    width:9vw;
}

.seconds {
    float:right;
    width:9vw;
}

#flashingtext {
                font-family: Trebuchet MS, sans-serif;
                font-size: 9pt;
                color: silver;
            }

/* grid */

.text {
	width:50%;
	height:auto;
	position:relative;
	margin-left:10vw;
	margin-top:8vw;
	margin-bottom:5vw;
}

.about p {
	font-size:18pt;
	line-height:20pt;
	text-transform:none;
	letter-spacing:0px;

}

#container {
	width:100%;
	position:absolute;
	height:100%;
	top: 0;
	z-index:-1;
}

#topimages {
	position:fixed;
	left:10vw;
	z-index:1;
}

#topimages img{
	width:20%;
	height:20%;
}

#bottomimages {
	position:fixed;
	bottom:2vw;
	left:80vw;
	z-index:1;
}

#bottomimages img{
	width:80%;
	height:80%;
}

#topimages2 { 
	right:10vw; 
	z-index:2;
}

#topimages2 img {
	width:50%;
	height:50%;
}

#topimages3 { 
	right:10vw; 
	z-index:2;
	margin:0 auto;
	position:absolute;
	top:44vw;
	left:13vw;
}

#topimages3 img {
	width:40%;
	height:40%;
}


.audio {
	display:none;
}

@media screen and (max-width: 420px) {

  .name p, .title p{
		font-size:10pt;
  }
  
  #topimages img {
    width:100%;
    height:auto;
  }

  #bottomimages img{
  	width:80%;
  	height:auto;
  }

  #container img{
  	width:100%;
  	height:auto;
  }

  .text {
  	width:70%;
  	height:auto;
  	margin-top:20vw;
  }
}


