html, body {
    height: 100%;
    width: 100%;
    padding: 0; margin: 0; 
    background: blanchedalmond;
}

p {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	font-weight: normal;

}

p .curly {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;
    background: url(images/underline.gif) bottom repeat-x;

}

h1 {
	color: #e4ff6c;
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	font-weight: normal;
	line-height:35px;
	letter-spacing:-1px;
}

h2 {
	color:#58595b;
	font-family: "Courier New", Courier, monospace;
	font-weight:normal;
	letter-spacing:-0.5px;
	text-align:center;
}

a, a:visited, a:active {
    color:#ffff6c;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:100px;
    text-decoration: none;
    letter-spacing:-1px;
    padding:10px;
}


a:hover {
    color:#fdff59;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:100px;
    text-decoration: none;
    letter-spacing:-1px;
    border:0.5px solid gray;
 }

ol {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:100px;

}

ol a:link {
	color: #fdff59;
	font-family: Arial, Helvetica, Sans-serif;
	font-size:100px;

}

ol a:visited {
	color: #fdff59;
	font-family: Arial, Helvetica, Sans-serif;
}

ol a:hover {
	background-color: #fdff59;
	font-family: Arial, Helvetica, Sans-serif;

}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: .5px;
}

.container { 
	width:900px; 
	position:absolute;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.container .nav {
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	float:left;

}

.container .nav .a,.container .nav .b, .container .nav .c, .container .nav .d, .container .nav .e, .container .nav .f, .container .nav .g, .container .nav .h, .container .nav .i, .container .nav .j, .container .nav .k, .container .nav .l,.container .nav .m, .container .nav .n, .container .nav .o, .container .nav .p, .container .nav .q, .container .nav .r, .container .nav .s, .container .nav .t, .container .nav .u, .container .nav .v, .container .nav .w, .container .nav .x, .container .nav .y {
	width:20%;
	height:180px;
	float:left;

}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    height:18px;
    font-family:"Courier New", Courier, monospace;
    font-size:13px;
    border:1px solid black;
    background-color: white;
    color: #58595b;
    text-align: center;
    padding: 4px;

    /* Position the tooltip */
    position: absolute;
    z-index: 9;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    margin-top:-25px;
    left:40px;
}

