p {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	font-weight: normal;

}

h1 {
	color: #00FF49;
	font-family: "Roboto Mono", Roboto, monospace;
	font-size: 30px;
	font-weight: normal;
	line-height:35px;
	letter-spacing:-1px;
}

h2 {
	font-family: "Roboto Mono", Roboto, monospace;
	font-weight:normal;
	letter-spacing:-0.5px;
}

a {
    color:#000;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:15px;
}

a:link {
	color:#000;
	font-family: Arial, Helvetica, Sans-serif;
}

a:hover {
	background-color:#00FF49;
    color:#000;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:15px;
}

ol {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;

}

ol a:link {
	color: #000;
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;

}

ol a:visited {
	color: #000;
	font-family: Arial, Helvetica, Sans-serif;
}

ol a:hover {
	background-color: #00FF49;
	font-family: Arial, Helvetica, Sans-serif;

}

.container{ width:700px; padding-left:40px; }
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
