html, body {
    height: auto;
    width: 100%;
    padding: 0; margin: 0; 

}

p {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	font-weight: normal;

}

p .curly {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;
    background: url(images/underline.gif) bottom repeat-x;

}

h1 {
	color: #000;
	font-family: arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height:20px;
}

h2 {
	font-family: Arial, Sans-serif;
	font-weight:normal;
	font-size:15px;
	color:#3333ff;
}

a, a:visited, a:active {
    color:black;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:15px;
    text-decoration: none;
}


a:hover {
    color:#3333ff;
    font-family: Arial, Helvetica, Sans-serif;
    font-size:15px;
    text-decoration: none;
    background: url(images/underline.gif) bottom repeat-x;
 }

ol {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;

}

ol a:link {
	color: #00FF49;
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;

}

ol a:visited {
	color: #000;
	font-family: Arial, Helvetica, Sans-serif;
}

ol a:hover {
	background-color: #00FF49;
	font-family: Arial, Helvetica, Sans-serif;

}

img {
	width:100%;
	height:auto;
}

.topbar {
	position:fixed;
	width:auto;
	height:30%;
	padding:2vw;
}

.topbar .title {
	position:fixed;
	width:50%;
	height:30%;
	float:left;
	margin-top:1vw;
	top:0;
	left:2vw;
}

.topbar .subtitle {
	position:fixed;
	width:50%;
	height:30%;
	float:left;
	top:0;
	right:2vw;
	text-align:right;
}

.container{ 
	position:absolute;
	width:65%; 
	height:auto;
	margin-top:8vw;
	padding:2vw;
}

.column-left{ float: left; width: 30%; }
.column-right{ float: right; width: 30%; }
.column-center{ float:left; width: 30%; }

