p {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	font-weight: normal;

}

h1 {
	color: #00FF49;
	font-family: "Roboto Mono", Roboto, monospace;
	font-size: 40px;
	font-weight: normal;
	letter-spacing:-1px;
}

h2 {
	font-family: Arial, Helvetica, Sans-serif;
}

ol {
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;

}

ol a:link {
	color: #000;
	font-family: Arial, Helvetica, Sans-serif;
	font-size:15px;

}

ol a:visited {
	color: #000;
	font-family: Arial, Helvetica, Sans-serif;
}

ol a:hover {
	background-color: #00FF49;
	font-family: Arial, Helvetica, Sans-serif;

}
